@model QuizQpplicationMVC.Models.QuestionModel

@{
    ViewBag.Title = "CreateQuestion";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Create Question of "@TempData["quizz_name"]"</h2>

@if (ViewBag.error != null)
{
    <div class="alert alert-danger">
        <strong>Error!</strong> @ViewBag.error
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class=" col-md-offset-2 col-md-10">
                <textarea rows="5" cols="100" name="content" placeholder="Enter question content here..."></textarea>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.opA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.opA, "Option A", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.opA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.opB, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.opB, "Option B", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.opB, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.opC, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.opC, "Option C", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.opC, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.opD, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.opD, "Option D", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.opD, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back", "Index")
</div>
